.filter-tags {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: .5em;
}

.filter-tag {
  padding: 0;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  border-color: darkred;
  border-width: 2px;
  display: flex;
  gap: .5em;
  flex: 1;
  cursor: pointer;
}

.filter-tag-column {
  font-size: 0.9em;
  font-style: italic;
  padding: .3em .5em;
  background-color: darkred;
}

.filter-tag-filter {
  flex: 1;
  font-size: 0.9em;
  padding: .3em .5em;
}
